#teamTitle {
	text-align: center;
	font-family: Arial;
}

#teamLogo {
	display: block;
	width: 25%;
	margin: auto;
}
#teamMenu {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: auto;
	height: 350px;
}


#personalPic{
	text-align: center;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.profilePic{
	width: 15%;
	object-fit: scale-down;
}


