* {
	font-family: Arial;
}

#teamTitle {
	text-align: center;
	font-width: bold;
	font-size: 5vh;
}

#teamLogo {
	display: block;
	max-width: 90vh;
	max-height: 25vh;
	margin: auto;
	margin-bottom: 5vh;
}

#teamMenu {
	margin: 2.5%;
	width: 95%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: flex-start;
}

.profile {
	width: 18vw;
	flex: 1, 1;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.profilePic {
	max-width: 18vw;
	max-height: 20vh;
}

.profileText {
	display: block;
	width: 100%;
	color: black;
	text-align: center;
	font-size: 3vh;
}

#teamDescription {
	display: block;
	margin: auto;
	text-align: center;
	align-self: : center;
}

#personalPic {
	width: 100%;
	flex: 1, 1;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

#dogPhoto {
	max-width: 50vw;
	max-height: 20vh;
	margin: 1%;
}



